/* --------------------------------------------------- */
/* Contacts */

.contacts-container {
  box-sizing: border-box;
  display: flex;

  height: 85vh;

  padding-top: 0;
  padding-bottom: 0;
}

.contact-list {
  display: flex;
  overflow-y: scroll;

  flex-direction: column;
  gap: 16px;

  min-width: 300px;
  max-width: 400px;
  height: 100%;

  padding: 16px 16px 16px 0;
}

.contact-alphabet {
  padding: 8px;

  border-bottom: 2px solid #d1d1d1;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 16px;

  padding: 8px;

  cursor: pointer;
}

.contact-item:hover {
  background-color: #f0f0f0;
  border-radius: 8px;
}

.contact-list-avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  background-color: #29abe2;
  color: #fff;
  border-radius: 50%;
}

#contact-details-avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 72px;
  height: 72px;

  background-color: #29abe2;
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
}

#contact-detail-container {
  padding: 16px;

  min-width: 300px;
  min-height: 200px;
}

.contact-details-header {
  display: flex;
  align-items: center;
  gap: 16px;

  margin: 32px;
}

#btn-contact-detail-close {
  display: none;
}

#contact-details-name {
  margin: 8px;
  font-size: 32px;
  font-weight: bold;
}

.contact-details-btn-container {
  display: flex;
}

.contact-details-btn {
  display: flex;
  gap: 8px;
  margin: 8px;

  cursor: pointer;
}

.contact-details-btn:hover {
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
}

.contact-input {
  width: 80%;
}

.add-contact-buttons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 8px;
}

.overlay-addcontact-card {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 90vw;
  max-width: 1000px;
  height: 400px;

  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.overlay-addcontact-header {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;

  background-color: #2a3647;

  height: 100%;
  width: 50%;

  padding: 32px;

  border-radius: 32px;
  color: #fff;
}

.overlay-addcontact-inputs {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;

  height: auto;
  width: 100%;

  margin-top: 48px;
  padding: 32px;

  background-color: #fff;
  border-radius: 32px;
  color: #fff;
}

@media (max-width: 768px) {
  .contacts-container {
    overflow-y: unset;
    justify-content: center;
    height: auto;

    margin-bottom: 100px;
  }

  .overlay-addcontact-card {
    flex-direction: column;
  }
  .overlay-addcontact-header {
    width: 100%;
    height: auto;
  }
  .overlay-addcontact-inputs {
    align-items: center;
    width: 100%;
    padding: 32px 8px;
  }

  .add-contact-buttons {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .contact-list {
    overflow-y: unset;

    width: 100%;
  }

  #contact-detail-container {
    position: fixed;

    background-color: #fff;
    border-radius: 32px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);

    z-index: 999;
  }

  #btn-contact-detail-close {
    display: flex;
  }
}
