/* ------------------------------------------------ */
/* index styling */

#index-content {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  padding: 32px;
}

@media (max-width: 768px) {
  #index-content {
    padding: 8px;
  }
}

/* ------------------------------------------------- */
/* login page */

.login-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;

  width: 100%;
  height: 15vh;
}

.login-container {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 85vh;
}

.login-remmember-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;

  width: 100%;

  margin: 16px 0;
}

.login-footer {
  box-sizing: border-box;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 32px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;

  width: 100%;
}

@media (max-width: 768px) {
  .login-container {
    margin-top: -100px;
  }

  .login-header {
    position: absolute;
    bottom: 48px;

    justify-content: center;
  }
}

/* ---------------------------------------------------- */
/* summary */

.signup-content {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  padding: 32px;
}

.sum-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.sum-title {
  margin-right: 20px;
  padding-right: 20px;

  border-right: 4px solid #29abe2;
}

.sum-main {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 32px;
}

.sum-tasks-container {
  display: flex;
  flex-direction: column;
}

.sum-tasks {
  display: flex;
  gap: 24px;

  margin-top: 32px;
}

.sum-task-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 20px;

  min-height: 80px;
  min-width: 120px;

  padding: 12px;

  background-color: white;
  border-radius: 24px;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.sum-task-item:hover {
  background-color: #2a3647;
  color: white;
}

.sum-column {
  flex-direction: column;

  padding: 0 16px;
}

.sum-task-container:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.sum-greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-top: 32px;
}

.sum-name {
  color: #29abe2;
  font-size: 48px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .sum-header {
    flex-direction: column;
    align-items: flex-start;

    padding-bottom: 16px;

    border-bottom: 4px solid #29abe2;
  }

  .sum-title {
    border: unset;
  }

  .sum-main {
    position: relative;
    justify-content: center;
  }

  .sum-greeting {
    position: absolute;
    top: 0px;
    opacity: 1;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: #fff;

    animation: summary-greet 0.8s ease-in-out forwards;
    animation-delay: 0.8s;
  }

  @keyframes summary-greet {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .sum-tasks {
    display: flex;
    gap: 16px;

    margin-top: 16px;
  }

  .sum-task-item {
    gap: 8px;

    min-height: 80px;
    min-width: 60px;
    width: 90px;

    padding: 8px 8px;
  }

  .sum-column {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .sum-tasks {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    margin-top: 8px;
  }

  .sum-task-item {
    gap: 4px;
    flex-wrap: wrap;

    min-height: 80px;
    min-width: 40px;
    width: 90px;

    padding: 8px 8px;
  }
}

/* --------------------------------------------------- */
/* Board */

.board-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: 16px;
}

.board-header-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.searchbar {
  display: flex;
  align-items: center;

  width: 260px;
  height: 40px;

  margin: 10px 0;
}

.searchbar input {
  margin-right: -40px;

  padding: 0 12px;

  height: 40px;

  border-radius: 12px;
  font-size: 18px;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.col-header {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.btn-add {
  cursor: pointer;
}

.btn-add:hover {
  filter: drop-shadow(0 0 8px black);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;

  width: 200px;
  min-height: 200px;

  margin: 12px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  width: 90%;

  padding: 12px;

  border-radius: 24px;
}

.col-highlight {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.todo {
  width: 100%;
  min-height: 50px;

  margin: 8px 0;
  padding: 12px 16px;

  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  cursor: pointer;
}

.emptyTodo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  min-height: 40px;

  margin: 8px 0;
  padding: 0 16px;

  background-color: rgb(214, 214, 214);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  color: rgb(126, 126, 126);
}

.todo-category-container {
  display: flex;
  justify-content: flex-start;
}

.todo-category {
  margin-bottom: 16px;
  padding: 8px 16px;

  border-radius: 8px;
  color: white;
}

.todo-title {
  margin-bottom: 8px;

  font-weight: bold;
  font-size: 20px;
  word-wrap: break-word;
}

.todo-content {
  margin-bottom: 16px;

  word-wrap: break-word;
}

.todo-subtasks {
  margin: 12px 0;
}

.todo-footer {
  display: flex;
  justify-content: space-between;

  margin-bottom: 16px;
}

.todo-avatar-container {
  position: relative;
  display: flex;

  z-index: 10;
}

.todo-avatar {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  color: #ffffff;
}

.no-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

  padding: 0 8px;

  border-radius: 12px;
  color: #ffffff;
}

.status-bar {
  width: 100%;
  height: 10px;

  margin: 12px 0;

  background-color: #e1e1e1;
  border: 0px;
  border-radius: 24px;
}

.status-progress {
  height: 10px;
  background-color: #4589ff;
}

.btns-change-col {
  display: none;
}

@media (max-width: 768px) {
  .btns-change-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    z-index: 1100;
  }

  .btn-col {
    display: flex;
    align-items: center;

    height: 48px;

    padding: 4px 8px;
    margin-bottom: 12px;

    border: 1px solid #000;
    border-radius: 8px;
  }
}

/* ---------------------------------------------- */
/* Add Task */

.addTask-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  margin-top: 32px;
}

.addTask-inputs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}

.addTask-border {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.addTask-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;

  margin-top: 32px;
}

.dropdown-menu {
  position: relative;

  width: 100%;

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #fff;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}

.dropdown-label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 8px 12px;
}

.contact-options {
  box-sizing: border-box;
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 8px;

  width: inherit;

  padding: 16px 16px 16px;
  margin-top: -4px;

  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top: unset;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  z-index: 999;
}

.contact-choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  padding: 8px 16px;

  cursor: pointer;
}

.contact-choice:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #000;
  border-radius: 8px;
}

.contact-choice-selected {
  background-color: #2a3647;
  color: #fff;
  border-radius: 8px;
}

.contact-avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 36px;

  background-color: #29abe2;
  color: #fff;
  border-radius: 50%;
}

#addTask-chosen-contacts {
  display: flex;
  gap: 4px;

  margin: 8px 0;
}

#task-prio {
  display: flex;
  justify-content: space-between;
}

.category-color {
  width: 32px;
  height: 32px;
  border: 2px solid #000;
  border-radius: 50%;
}

.prio-option {
  box-sizing: border-box;

  width: 32%;

  border: 2px solid rgba(0, 0, 0, 0.1);
}

.prio-option:hover {
  border: unset;
}

#add-subtask-container {
  position: relative;
}

#btn-subtask {
  position: absolute;
  top: 8px;
  right: 10px;

  cursor: pointer;
}

.add-subtask-item {
  display: flex;
  justify-content: space-between;
  padding: 4px 16px;
}

@media (max-width: 992px) {
  .addTask-container {
    flex-direction: column;
  }

  .addTask-border {
    display: none;
  }
}

@media (max-width: 768px) {
  .addTask-container {
    flex-direction: row;
  }

  .addTask-border {
    display: inline-block;
  }
}

@media (max-width: 576px) {
  .addTask-container {
    flex-direction: column;
  }

  .addTask-border {
    display: none;
  }
}
