/* basic colors
light blue = #29abe2
grey-01 (dark) = #2A3647
grey-02 = #D1D1D1
grey-03 = #A8A8A8
grey-04 (light) = #f0f0f0
red-01 = #FF3D00
yellow-01 = #FFA800
green-01 = #7AE229
*/

/* basic font */

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-v12-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* --------------------------------------------------- */
/* main tag styling */

body {
  box-sizing: border-box;

  margin: 0;

  background-color: #f6f7f8;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #a8a8a8;
}

a:hover {
  color: #29abe2;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  padding: 12px 24px;

  background-color: #fff;
  color: #000;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
}

button:hover {
  border: 2px solid #29abe2;
  color: #29abe2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3,
h4,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

input,
textarea {
  box-sizing: border-box;
  padding: 8px 12px;
  width: 100%;

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  outline: none;
  font-size: 18px;
}

input::placeholder {
  color: #a8a8a8;
}

input:focus {
  border-color: #29abe2;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  input {
    max-width: none;
  }
}

/* -------------------------------------------------- */
/* basic styling */

.d-none {
  display: none !important;
}

.fs-32 {
  font-size: 32px;
}

.fs-b {
  font-weight: bold;
}

.button-black {
  background-color: #000;
  color: #fff;
}

.button-grey {
  background-color: #2a3647;
  color: #fff;
}

.button-black:hover,
.button-grey:hover {
  background-color: #29abe2;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-icon {
  width: 24px;
  height: 24px;
}

.btn-icon-small {
  width: 12px;
  height: 12px;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.gap-32 {
  gap: 32px;
}

.f-wrap {
  flex-wrap: wrap;
}

.txt-center {
  text-align: center;
}

.container {
  box-sizing: border-box;

  padding: 48px;
}

.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  width: auto;
  max-width: 500px;

  padding: 32px 64px;

  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.form-inputs {
  box-sizing: border-box;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  width: 100%;

  padding: 16px;
}

.blue-hor-divider {
  margin: 16px 0;

  border: 2px solid #29abe2;
  width: 100%;
}

.message-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

#message-card {
  padding: 16px 24px;

  border-radius: 12px;
  background-color: #2a3647;
  color: #fff;
  opacity: 1;
  animation: message-fade 2s ease-in-out forwards;
}

@keyframes message-fade {
  0%,
  100% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 16px;
  }

  .main-card {
    width: 80%;
    max-width: 80vw;

    padding: 32px 8px;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 8px;
  }
}

/* ------------------------------------------------------ */
/* logo animation */

.main-logo-animated {
  position: absolute;

  left: calc(100vw - 50% - 101px);
  top: calc(100vh - 50% - 122px);
  width: 202px;
  height: 244px;

  animation: logo-start 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.main-logo-fixed {
  position: absolute;

  left: 50px;
  top: 50px;
  width: 101px;
  height: 122px;
}

@keyframes logo-start {
  0% {
    left: calc(100vw - 50% - 101px);
    top: calc(100vh - 50% - 122px);
    width: 202px;
    height: 244px;
  }
  100% {
    left: 50px;
    top: 50px;
    width: 101px;
    height: 122px;
  }
}

#login-logo {
  position: absolute;

  left: 50px;
  top: 50px;
  width: 101px;
  height: 122px;
}

@media (max-width: 768px) {
  .main-logo-fixed,
  .main-logo-animated {
    position: absolute;

    left: 50px;
    top: 30px;
    width: 70px;
    height: 84px;
  }

  @keyframes logo-start {
    0% {
      left: calc(100vw - 50% - 101px);
      top: calc(100vh - 50% - 122px);
      width: 202px;
      height: 244px;
    }
    100% {
      left: 50px;
      top: 30px;
      width: 70px;
      height: 84px;
    }
  }

  .txt-no-user {
    display: none;
  }
}

/* -------------------------------------------------- */
/* Overlay */

.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 999;
}

.overlay-card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  width: 70%;
  max-width: 100%;

  padding: 16px 32px;

  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);

  z-index: 999;
}

.overlay-addcontact-card {
  position: relative;

  display: flex;
  justify-content: space-between;

  min-height: 300px;
  width: 70%;

  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.overlay-addcontact-header {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #2a3647;

  height: 300px;
  width: 50%;

  border-radius: 32px;
  color: #fff;
}

.overlay-addcontact-inputs {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  height: 300px;
  width: 50%;

  padding: 16px;

  background-color: #fff;
  border-radius: 32px;
  color: #fff;
}

.btn-overlay-close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;

  width: 100%;

  cursor: pointer;
}

/* ----------------------------------------------------- */
/* navbar */

.navbar {
  box-sizing: border-box;

  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 230px;

  background-color: #2a3647;
}

.navbar-logo {
  padding-top: 50px;
  padding-left: 50px;

  width: 101px;
  height: 122px;

  color: white;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;

  margin-top: 80px;
  padding: 0;

  width: 100%;
}

.nav-legal-notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;

  margin-top: 48px;
  padding: 0;

  width: 100%;
}

.navbar-item {
  box-sizing: border-box;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  padding: 12px 24px;

  width: 100%;

  color: white;
  text-decoration: none;
  cursor: pointer;
}

.navbar-item:hover {
  background-color: #4371b77c;
}

.navbar-item:focus,
.navbar-item:active {
  background-color: #091931;
}

.navbar-legal-notice {
  width: 100%;

  margin-top: 32px;
}

@media (max-width: 768px) {
  .navbar {
    top: auto;

    flex-direction: row;

    height: 80px;
    width: 100%;

    padding: 0px 12px;
    z-index: 100;
  }

  .navbar-container {
    flex-direction: row;
    width: 100%;
    height: 100px;
    margin: 0px;
  }

  .navbar-logo {
    display: none;
  }

  .navbar-item {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 8px 0;

    height: 80px;

    font-size: 16px;
  }

  .navbar-item img {
    display: inline-block !important;
  }

  .navbar-item p {
    display: block !important;
  }

  .nav-legal-notice {
    display: none;
  }
}

/* ----------------------------------------------------- */
/* content area */

.content-area {
  margin-left: 230px;
}

@media (max-width: 768px) {
  .content-area {
    margin: 0;
  }
}

/* --------------------------------------------------- */
/* header */

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 10vh;

  padding: 12px 24px;

  background-color: #fff;
}

.header-title {
  font-size: 24px;
}

.header-logo {
  display: none;
  width: 48px;
  height: 48px;

  cursor: none;
}

.header-user-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-header-info {
  cursor: pointer;
}

.header-avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
}

#avatar-menu {
  position: absolute;
  top: 64px;
  right: 48px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  padding: 16px;

  background-color: #2a3647;
  border-radius: 16px 0 16px 16px;
}

#avatar-menu a {
  color: #fff;
}

@media (max-width: 768px) {
  .header-title {
    display: none;
  }

  .header-logo {
    display: block;
  }
}
