<div class="container">
  <h1>Add Task</h1>
  <div class="addTask-container">
    <div class="addTask-inputs">
      <label for="task-title">Title</label>
      <input type="text" name="task-title" placeholder="Title" />
      <label for="task-desription">Desription</label>
      <textarea
        name="task-desription"
        id="task-desription"
        cols="30"
        rows="5"
        placeholder="Description"
        required
      ></textarea>
      <label for="task-assigned">Assigned to</label>
      <div class="dropdown-menu">
        <div class="dropdown-label" onclick="toggleOnOff('contact-options')">
          Select Contacts to assign
          <img class="btn-icon-small" src="./icons/icon_dropdown.svg" alt="V">  
        </div>
        <div id="contact-options" class="contact-options d-none">
          <div class="contact-choice">
            <div class="contact-avatar">HP</div>
            <div>Harry Potter</div>
            <img class="btn-icon" src="./icons/icon_box.svg" alt="">
          </div>
          <div class="contact-choice">
            <div class="contact-avatar">HG</div>
            <div>Hermine Granger</div>
            <img class="btn-icon" src="./icons/icon_box.svg" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="addTask-border"></div>

    <div class="addTask-inputs">
      <label for="task-date">Due date</label>
      <input type="text" name="task-date" placeholder="Title" />
      <p>Prio</p>
      <label for="task-category">Category</label>
      <input type="text" name="task-category" placeholder="Description" />
      <label for="task-subtask">Subtask</label>
      <input type="text" name="task-subtask" placeholder="Description" />
    </div>
  </div>

  <div class="addTask-buttons">
    <button onclick="alert('clear')">Clear</button>
    <button onclick="alert('add task')" class="button-black">
      Create Task<img
        class="btn-img-black"
        src="./icons/icon_check_white.svg"
      ></img>
    </button>
  </div>
</div>
