<form class="container" onsubmit="addTask(); return false;">
  <h1>Add Task</h1>
  <div class="addTask-container">
    <div class="addTask-inputs">
      <span>Title</span>
      <input type="text" name="task-title" id="task-title" placeholder="Title" maxlength="40" required/>
      <span>Desription</span>
      <textarea
        name="task-description"
        id="task-description"
        cols="30"
        rows="5"
        placeholder="Description"
        required
      ></textarea>
      <span>Assigned to</span>
      <div class="dropdown-menu">
        <div class="dropdown-label" onclick="toggleOnOff('contact-options')">
          Select Contacts to assign
          <img class="btn-icon-img-small" src="./icons/icon_dropdown.svg" alt="V">  
        </div>
        <div id="contact-options" class="contact-options d-none">
          <!-- added contacts -->
        </div>
      </div>
      <div id="addTask-chosen-contacts">       
        <!-- chosen contacts -->
      </div>
    </div>

    <div class="addTask-border"></div>

    <div class="addTask-inputs">
      <span>Due date</span>
      <input id="task-date" type="date" name="task-date" placeholder="dd / mm / yyyy" required/>
      <span>Prio</span>
      <div id="task-prio">
         <button id="prio01" type="button" class="prio-option" onclick="selectPrio('urgent'); return false;">Urgent</button>
        <button id="prio02" type="button" class="prio-option" onclick="selectPrio('medium'); return false;">Medium</button>
        <button id="prio03" type="button" class="prio-option" onclick="selectPrio('low'); return false;">Low</button>
      </div>

      <span>Category</span>
      <div id="category-dd" class="dropdown-menu">
        <div class="dropdown-label" onclick="toggleOnOff('category-options')">
          <div id="category-dd-text">Select Category</div>
          <img class="btn-icon-img-small" src="./icons/icon_dropdown.svg" alt="V">  
        </div>
        <div id="category-options" class="contact-options d-none">
          <!-- added contacts -->
        </div>
      </div>
      <span>Subtask</span>
      <div id="add-subtask-container">
        <input type="text" id="task-add-subtask" placeholder="Create Subtask" maxlength="40" />
        <img id="btn-subtask" class="button-icon" src="./icons/icon_box_plus.svg" onclick="addSubtask(); return false;"></img>
      </div>
      <div id="add-subtask-list">
        <!-- list of added subtask -->
        <!-- <div class="add-subtask-item">
          <div>
            subtask title 01
          </div>
          <img class="button-icon" src="./icons/icon_bucket.svg" alt="X" onclick="alert('delete subtask')">
        </div>
         -->
      </div>
    </div>
  </div>

  <div class="addTask-buttons">
    <button type="button" onclick="clearForm(); return false;">Clear</button>
    <button class="button-black">
      Create Task<img
        class="btn-img-icon"
        src="./icons/icon_check_white.svg"
      ></img>
    </button>
  </div>
</form>
