<div class="container">
  <h1>Add Task</h1>
  <div class="addTask-container">
    <div class="addTask-inputs">
      <label for="task-title">Title</label>
      <input type="text" name="task-title" placeholder="Title" />
      <label for="task-desription">Desription</label>
      <input type="text" name="task-desription" placeholder="Description" />
      <label for="task-assigned">Subtask</label>
      <input type="text" name="task-assinged" placeholder="Description" />
    </div>

    <div class="addTask-border"></div>

    <div class="addTask-inputs">
      <label for="task-date">Due date</label>
      <input type="text" name="task-date" placeholder="Title" />
      <p>Prio</p>
      <label for="task-category">Category</label>
      <input type="text" name="task-category" placeholder="Description" />
      <label for="task-subtask">Subtask</label>
      <input type="text" name="task-subtask" placeholder="Description" />
    </div>
  </div>
</div>
