<link rel="stylesheet" href="./css/board.css" />

<div class="container">
  <div id="kanban-board">
    <div class="board-header">
      <h1>Board</h1>
      <div class="board-header-right">
        <div class="searchbar">
          <input
            id="board-search"
            type="text"
            placeholder="Find Task"
            onkeyup="searchTasks()"
          />
          <img class="btn-search" src="./icons/icon_search.svg" alt="" />
        </div>
        <button
          onclick="toggleOnOff('addTask-overlay'); addTaskInit();"
          class="button button-black"
        >
          Add Task +
        </button>
      </div>
    </div>
    <div class="board">
      <div class="col col-01">
        <div class="col-header">
          <h3>To Do</h3>
          <img
            onclick="toggleOnOff('addTask-overlay'); addTaskInit(); setColId('col-1')"
            class="btn-add"
            src="./icons/icon_box_plus.svg"
            alt="+"
          />
        </div>
        <div
          id="col-1"
          class="todo-list"
          ondrop="moveTo('col-1'); removeHighlight('col-1')"
          ondragleave="removeHighlight('col-1')"
          ondragover="allowDrop(event); highlight('col-1')"
        >
          <!-- <div>
              <p>title</p>
            </div> -->
        </div>
      </div>
      <div class="col col-02">
        <div class="col-header">
          <h3>In Progress</h3>
          <img
            onclick="toggleOnOff('addTask-overlay'); addTaskInit(); setColId('col-2')"
            class="btn-add"
            src="./icons/icon_box_plus.svg"
            alt="+"
          />
        </div>
        <div
          id="col-2"
          class="todo-list"
          ondrop="moveTo('col-2'); removeHighlight('col-2')"
          ondragleave="removeHighlight('col-2')"
          ondragover="allowDrop(event); highlight('col-2')"
        >
          <!-- todolist -->
        </div>
      </div>
      <div class="col col-03">
        <div class="col-header">
          <h3>Await Feedback</h3>
          <img
            onclick="toggleOnOff('addTask-overlay'); addTaskInit(); setColId('col-3')"
            class="btn-add"
            src="./icons/icon_box_plus.svg"
            alt="+"
          />
        </div>
        <div
          id="col-3"
          class="todo-list"
          ondrop="moveTo('col-3'); removeHighlight('col-3')"
          ondragleave="removeHighlight('col-3')"
          ondragover="allowDrop(event); highlight('col-3')"
        >
          <!-- todolist -->
        </div>
      </div>
      <div class="col col-04">
        <div class="col-header">
          <h3>Done</h3>
        </div>
        <div
          id="col-4"
          class="todo-list"
          ondrop="moveTo('col-4'); removeHighlight('col-4')"
          ondragleave="removeHighlight('col-4')"
          ondragover="allowDrop(event); highlight('col-4')"
        >
          <!-- todolist -->
        </div>
      </div>
    </div>
  </div>
</div>

<div id="addTask-overlay" class="overlay-background d-none">
  <div class="overlay-card">
    <div class="btn-overlay-close" onclick="toggleOnOff('addTask-overlay')">
      <img class="btn-icon-img" src="./icons/cross.svg" alt="X" />
    </div>
    <div w3-include-html="./templates/addTask.html"></div>
  </div>
</div>

<div id="edit-task-overlay" class="overlay-background d-none">
  <div class="overlay-card">
    <div class="btn-overlay-close" onclick="toggleOnOff('edit-task-overlay')">
      <img class="btn-icon-img" src="./icons/cross.svg" alt="X" />
    </div>
    <div id="board-edit-task-content" class="d-flex flex-col gap-16">
      <!-- edit task content -->
    </div>
  </div>
</div>
