<div class="container">
  <h1>Contacts</h1>
  <div class="contact-list">
    <button class="button-grey">
      <a>Add new contact</a>
      <img src="./icons/person_add.svg" alt="" />
    </button>
    <!-- item 1 -->
    <div class="contact-item">
      <div class="contact-avatar">AM</div>
      <div>
        <div>Anton Meyer</div>
        <div>ameyer@test.text</div>
      </div>
    </div>
    <!-- item 2 -->
    <div class="contact-item">
      <div class="contact-avatar">BK</div>
      <div>
        <div>Ben Kenobi</div>
        <div>bkenobi@test.text</div>
      </div>
    </div>
    <!-- item 3 -->
    <div class="contact-item">
      <div class="contact-avatar">AM</div>
      <div>
        <div>Anton Meyer</div>
        <div>ameyer@test.text</div>
      </div>
    </div>
    <!-- item 4 -->
    <div class="contact-item">
      <div class="contact-avatar">BK</div>
      <div>
        <div>Ben Kenobi</div>
        <div>bkenobi@test.text</div>
      </div>
    </div>
    <!-- item 5 -->
    <div class="contact-item">
      <div class="contact-avatar">AM</div>
      <div>
        <div>Anton Meyer</div>
        <div>ameyer@test.text</div>
      </div>
    </div>
    <!-- item 6 -->
    <div class="contact-item">
      <div class="contact-avatar">BK</div>
      <div>
        <div>Ben Kenobi</div>
        <div>bkenobi@test.text</div>
      </div>
    </div>
    <!-- item 7 -->
    <div class="contact-item">
      <div class="contact-avatar">AM</div>
      <div>
        <div>Anton Meyer</div>
        <div>ameyer@test.text</div>
      </div>
    </div>
    <!-- item 8 -->
    <div class="contact-item">
      <div class="contact-avatar">BK</div>
      <div>
        <div>Ben Kenobi</div>
        <div>bkenobi@test.text</div>
      </div>
    </div>
  </div>
</div>
