<div class="container contacts-container">
  <div id="contact-list" class="contact-list">
    <button class="button-grey">
      Add new contact
      <img src="./icons/icon_person_white.svg" alt="" />
    </button>
    <div class="contact-alphabet">A</div>
    <!-- item 1 -->
    <div class="contact-item">
      <div class="contact-avatar">AM</div>
      <div>
        <div>Anton Meyer</div>
        <div>ameyer@test.text</div>
      </div>
    </div>
    <div class="contact-alphabet">B</div>
    <!-- item 2 -->
    <div class="contact-item">
      <div class="contact-avatar">BK</div>
      <div>
        <div>Ben Kenobi</div>
        <div>bkenobi@test.text</div>
      </div>
    </div>
  </div>

  <div class="contact-detail-container">
    <div class="sum-header">
      <h1 class="sum-title">Contacts</h1>
      <p class="fs-24">Better with a team</p>
    </div>
  </div>
</div>
