<div class="container contacts-container">
  <div id="contact-list" class="contact-list">
    <button class="button-grey" onclick="toggleOnOff('addContact-overlay')">
      Add new contact
      <img src="./icons/icon_person_white.svg" alt="" />
    </button>
    <div class="contact-alphabet">A</div>
    <!-- item 1 -->
    <div class="contact-item">
      <div class="contact-avatar">AM</div>
      <div>
        <div>Anton Meyer</div>
        <div>ameyer@test.text</div>
      </div>
    </div>
    <div class="contact-alphabet">B</div>
    <!-- item 2 -->
    <div class="contact-item">
      <div class="contact-avatar">BK</div>
      <div>
        <div>Ben Kenobi</div>
        <div>bkenobi@test.text</div>
      </div>
    </div>
  </div>

  <div class="contact-detail-container">
    <div class="sum-header">
      <h1 class="sum-title">Contacts</h1>
      <p class="fs-24">Better with a team</p>
    </div>
  </div>
</div>

<div id="addContact-overlay" class="overlay-background d-none">
  <div class="overlay-addcontact-card">
    
    <div class="overlay-addcontact-header">
      <img src="./img/logo_light.svg" alt="JOIN" width="48px" height="48px">
      <h1>Add Contact</h1>
      <div>Tasks are Better with a Team!</div>
    </div>
    <form class="overlay-addcontact-inputs" onsubmit="return false;">
      <div
        class="btn-icon-img btn-overlay-close"
      >
        <img src="./icons/cross.svg" alt="X" onclick="toggleOnOff('addContact-overlay')"/>
      </div>
      <input id="contact-name" class="contact-input" type="name" placeholder="Name" />
      <input id="contact-email" class="contact-input" type="email" placeholder="E-Mail" />
      <input id="contact-phone" class="contact-input" type="number" placeholder="Phone" />
      <div class="add-contact-buttons">
        <button type="button" onclick="clearContactForm(); return false;">
          Cancel
          <img
            class="btn-icon-img"
            src="./icons/icon_cross.svg"
          ></img>
        </button>
        <button class="button-black">
          Create Contact<img
            class="btn-icon-img"
            src="./icons/icon_check_white.svg"
          ></img>
        </button>
      </div>
      <!-- <div w3-include-html="./templates/addTask.html">
    </div> -->
    </div>
  </div>
</div>
