<div class="btn-overlay-close" onclick="toggleOff('edit-task');toggleOn('show-task');">
    <img class="btn-icon-img" src="./icons/cross.svg" alt="X" />
  </div>
  <form class="container" onsubmit="editTask(); return false;">
    <h1>Edit Task</h1>
    <div class="addTask-container">
      <div class="addTask-inputs">

        <span>Title</span>
        <input type="text" name="task-title" id="edit-task-title" placeholder="Title" maxlength="40" required/>

        <span>Desription</span>
        <textarea
          name="edit-task-description"
          id="edit-task-description"
          cols="30"
          rows="5"
          placeholder="Description"
          required
        ></textarea>

        <span>Assigned to</span>
        <div class="dropdown-menu">
          <div class="dropdown-label" onclick="toggleOnOff('edit-contact-options'); changeDropdownImg('edit-asgn-contacts-dropdowm-img', 'edit-contact-options');">
            Select Contacts to assign
            <img id="edit-asgn-contacts-dropdowm-img" class="btn-icon-img-small" src="./icons/icon_dropdown.svg" alt="V">  
          </div>
          <div id="edit-contact-options" class="contact-options d-none">
            <!-- added contacts -->
          </div>
        </div>
        <div id="edit-addTask-chosen-contacts" class="addTask-chosen-contacts">       
          <!-- chosen contacts -->
        </div>
      </div>
  
      <div class="addTask-border"></div>
  
      <div class="addTask-inputs">
        <span>Due date</span>
        <input id="edit-task-date" type="date" name="edit-task-date" placeholder="dd / mm / yyyy" required/>

        <span>Prio</span>
        <div id="task-prio">
           <button id="edit-prio01" type="button" class="prio-option" onclick="selectPrio('urgent', 'edit-'); return false;">Urgent</button>
          <button id="edit-prio02" type="button" class="prio-option" onclick="selectPrio('medium', 'edit-'); return false;">Medium</button>
          <button id="edit-prio03" type="button" class="prio-option" onclick="selectPrio('low', 'edit-'); return false;">Low</button>
        </div>
  
        <span>Category</span>
        <div id="edit-category-dd" class="dropdown-menu">
          <div class="dropdown-label" onclick="toggleOnOff('edit-category-options'); changeDropdownImg('edit-category-dropdowm-img', 'edit-category-options');">
            <div id="edit-category-dd-text">Select Category</div>
            <img id="edit-category-dropdowm-img" class="btn-icon-img-small" src="./icons/icon_dropdown.svg" alt="V">  
          </div>
          <div id="edit-category-options" class="contact-options d-none">
            <!-- added contacts -->
          </div>
        </div>
  
        <span>Subtask</span>
        <div id="edit-add-subtask-container">
          <input type="text" id="edit-task-add-subtask" placeholder="Create Subtask" maxlength="40" />
          <img id="btn-subtask" class="button-icon" src="./icons/icon_box_plus.svg" onclick="editAddSubtask(); return false;"></img>
        </div>
        <div id="edit-add-subtask-list">
          <!-- list of added subtask -->
        </div>
      </div>
    </div>
  
    <div class="addTask-buttons">
      <button type="button" onclick="toggleOff('edit-task'); toggleOn('show-task'); return false;">Cancel</button>
      <button class="button-black">
        Save<img
          class="btn-img-icon"
          src="./icons/icon_check_white.svg"
        ></img>
      </button>
    </div>
  </form>
  
  <!-- Add Contact Overlay -->
  <div id="edit-addContact-overlay" class="overlay-background d-none">
    <div class="overlay-addcontact-card">
      
      <div class="overlay-addcontact-header">
        <img src="./img/logo_light.svg" alt="JOIN" width="48px" height="48px">
        <h1>Add Contact</h1>
        <div>Tasks are Better with a Team!</div>
        <div class="blue-hor-divider"  style="max-width: 100px;"></div>
      </div>
        <div
            class="btn-icon-img btn-overlay-close"
          >
            <img src="./icons/cross.svg" alt="X" onclick="toggleOnOff('edit-addContact-overlay')"/>
          </div>
        <form class="overlay-addcontact-inputs" onsubmit="taskAddContact(); return false;">
          <input id="edit-contact-name" class="contact-input" type="name" placeholder="Name" required/>
          <input id="edit-contact-email" class="contact-input" type="email" placeholder="E-Mail" required/>
          <input id="edit-contact-phone" class="contact-input" type="number" placeholder="Phone" required/>
          <div class="add-contact-buttons">
            <button type="button" onclick="toggleOff('edit-addContact-overlay'); return false;">
              Cancel
              <img
                class="btn-icon-img"
                src="./icons/icon_cross.svg"
              ></img>
            </button>
            <button class="button-black">
              Save<img
                class="btn-icon-img"
                src="./icons/icon_check_white.svg"
              ></img>
            </button>
          </div>
        </form>    
    </div>
  </div>