<div class="login-header">
  Not a Join User?
  <button>Sign Up</button>
</div>
<div class="login-container">
  <div class="main-card">
    <div>Log In</div>
    <input type="text" placeholder="Email" />
    <input type="text" placeholder="Password" />
    <input type="checkbox" name="remember-me" />
    <label for="remember-me">Remember me</label>
    <a href="#">I Forgot my password</a>
    <button>Login</button>
    <button>Guest Login</button>
  </div>
</div>
<div class="login-footer">
  <a href="#">Privacy Policy</a>
  <a href="#">Legal Notice</a>
</div>
