<div class="login-header">
  <div class="txt-no-user">Not a Join User?</div>
  <button
    id="btn-sign-up"
    class="button-black"
    onclick="window.location.href = './pages/signup.html'"
  >
    Sign Up
  </button>
</div>
<div class="login-container">
  <div class="main-card">
    <div>
      <h1>Log In</h1>
      <div class="blue-hor-divider"></div>
    </div>
    <form class="form-inputs" onsubmit="login(); return false;">
      <input type="text" id="login-email" placeholder="Email" required />
      <input
        type="password"
        id="login-password"
        placeholder="Password"
        required
      />
      <div class="login-remmember-container">
        <div class="flex-row">
          <input type="checkbox" name="remember-me" />
          <span><nobr>Remember me</nobr></span>
        </div>
        <div>
          <a href="./pages/forgotPassword.html">I Forgot my password</a>
        </div>
      </div>
      <div class="flex-row gap-32 f-wrap">
        <button class="button-black">Login</button>
        <button onclick="loginGuest();">Guest Login</button>
      </div>
    </form>
  </div>
</div>
<div class="login-footer">
  <a href="./templates/privacyPolicy.html" target="_blank">Privacy Policy</a>
  <a href="./templates/privacyPolicy.html" target="_blank">Legal Notice</a>
</div>
