<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/modules.css" />
<link rel="stylesheet" href="./css/summary.css" />

<div class="container">
  <div class="sum-header">
    <h1 class="sum-title">Summary</h1>
    <p class="fs-24">Everything in a nutshell</p>
  </div>
  <div class="sum-main">
    <div class="sum-greeting">
      <p id="sum-greet" class="fs-32">Good Morning,</p>
      <p id="sum-name" class="sum-name">Guest</p>
    </div>
    <div class="sum-tasks-container">
      <div class="sum-tasks">
        <div
          class="sum-task-item"
          onclick="mainLoad('main-content', './templates/board.html'); boardInit();"
        >
          <div class="sum-column">
            <p id="task-board-counter" class="fs-32 fs-b">0</p>
            Tasks in<br />Board
          </div>
        </div>
        <div
          class="sum-task-item"
          onclick="mainLoad('main-content', './templates/board.html'); boardInit();"
        >
          <div class="sum-column">
            <p id="todo-inprogress-counter" class="fs-32 fs-b">0</p>
            Tasks in<br />Progress
          </div>
        </div>
        <div
          class="sum-task-item"
          onclick="mainLoad('main-content', './templates/board.html'); boardInit();"
        >
          <div class="sum-column">
            <p id="todo-await-counter" class="fs-32 fs-b">0</p>
            Awaiting<br />Feedback
          </div>
        </div>
      </div>
      <div class="sum-tasks">
        <div
          class="sum-task-item"
          onclick="mainLoad('main-content', './templates/board.html'); boardInit();"
        >
          <img src="./icons/priority_urgent_full.svg" alt="" />
          <div class="sum-column">
            <p id="todo-prio-counter" class="fs-32 fs-b">0</p>
            Urgent
          </div>
          <div
            class="sum-column"
            style="
              text-align: left;
              line-height: 1.8;
              border-left: 3px solid rgba(0, 0, 0, 0.2);
            "
          >
            <p id="next-date" class="fs-20 fs-b">No urgent task available</p>
            Upcoming Deadline
          </div>
        </div>
      </div>
      <div class="sum-tasks">
        <div
          class="sum-task-item"
          onclick="mainLoad('main-content', './templates/board.html'); boardInit();"
        >
          <div class="sum-column">
            <p id="todo-open-counter" class="fs-32 fs-b">0</p>
            Todo
          </div>
        </div>
        <div
          class="sum-task-item"
          onclick="mainLoad('main-content', './templates/board.html'); boardInit();"
        >
          <div class="sum-column">
            <p id="todo-done-counter" class="fs-32 fs-b">0</p>
            Done
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
